<!--Thank You Page-->
<!DOCTYPE html>

<link rel="stylesheet" href="../styles/main_styles.css" type="text/css">

<html>

<head></head>
<body>
        <div class="top-header">
                <div class="logo-box" id="logo_top">
                    <img src="../images/engrain_test_logo.png" class="img-logo-top">
                </div>
                <div class="nav-element" id="links_top">
                    Overview
                </div>
                <div class="nav-element" id="links_top">
                    Amenities
                </div>
                <div class="nav-element" id="links_top">
                    Neighborhood
                </div>
                <div class="nav-element" id="links_top">
                    (555) 555-5555
                </div>
                <a href="thankyou.html" class="btn btn-primary btn-top-box">Join The Interest List</a>
        </div>
        <hr class="top-line-separator">
        <div class="top-middle-section">
            <div class="box-top-mid">
                <div class="box-top-mid-text box-top-mid-header">This is a marketing headline to sell the property.</div>
                <div class="box-top-mid-text box-top-mid-main">Studio, one and two-bedroom apartments starting at $1,400 per month available Summer 2022.</div>
                <a href="home.html" class="btn btn-primary btn-top-box">Join The Interest List</a>
            </div>
            <img src="../images/sample_apartment_pool_image.webp" class="img-top-mid">
            <hr class="separator top-mid-line-separator">
        </div>
        <div class="overview-section">
            <div class="box-white-section-background box-overview">
                <img src="../images/sample_apartment_amenity_image.jpeg" class="img-overview">
                <div class="text-box-blue-section-head right-text-box-overview">Overview
                    <div class="text-box-section-head">Lorem ipsum dolor sit amet consecutor adpising elit.</div>
                    <div class="text-box-section-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
            </div>
        </div>
        <div class="floor-plan-options-section">
            <div class="top-text-box-floor-plan floor-plan-small-font">OFFERING SPACIOUS OPTIONS IN THE FOLLOWING FLOOR PLANS:</div>
            <div class="middle-text-box-floor-plan-wrapper">
                <div class="middle-text-box-floor-plan-outer">
                    <div class="middle-text-box-floor-plan-inner">
                        <div class="floor-plan-large-font">S</div>
                        <div class="floor-plan-small-font">STUDIO</div>
                    </div>
                    <div class="middle-text-box-floor-plan-inner">
                        <div class="floor-plan-large-font">1</div>
                        <div class="floor-plan-small-font">BEDROOM</div>
                    </div>
                    <div class="middle-text-box-floor-plan-inner">
                        <div class="floor-plan-large-font">2</div>
                        <div class="floor-plan-small-font">BEDROOMS</div>
                    </div>
                    <div class="middle-text-box-floor-plan-inner">
                        <div class="floor-plan-large-font">3</div>
                        <div class="floor-plan-small-font">BEDROOMS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-white-section-background section-amenities">
            <div class="text-box-blue-section-head left-text-box-amenities">AMENITIES
                <div class="text-box-section-head">Lorem ipsum dolor sit amet consecutor adpising elit.</div>
                <div class="text-box-section-body"><b>INTERIOR AMENITIES</b>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</ul>
                    <ul>Lorem ipsum</ul>
                </div>
                <span height="50px">&nbsp;</span>
                <div class="text-box-section-body"><b>COMMUNITY AMENITIES</b>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum</ul>
                    <ul>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</ul>
                    <ul>Lorem ipsum</ul>
                </div>
            </div>
            <figure><img src="../images/sample_apartment_amenity_image.jpeg" id="img-amenities-top" class="img-amenities img-amenities-top">
                <figcaption class="text-box-figure-caption">Photo caption lorem ipsum</figcaption>
            </figure>
            <img src="../images/sample_apartment_amenity_image.jpeg" id="img-amenities-bottom" class="img-amenities img-amenities-bottom">
        </div>
        <div class="section-neighborhood">
            <div class="text-box-blue-section-head">NEIGHBORHOOD
                <div class="text-box-section-head text-box-neighborhood">Lorem ipsum dolor sit amet consecutor adpising test.</div>
                <div class="text-box-section-body text-box-neighborhood">Located at 5555 Streetname, AA 55555</div>
            </div>
        </div>
        <div class="section-large-logo">
            <img src="../images/engrain_test_logo_large.png" class="bottom-image">
        </div>
        <hr class="separator bottom-separator">
        <div class="section-bottom">
            <div class="text-box-bottom-header">Pre-leasing [month][year]</div>
            <div class="thankyou-box-bottom">Thank You!</div>
            <a href="thankyou.html" class="btn btn-primary">Join The Interest List</a>
        </div>
    <script src="./index.js" defer></script>
</body>




</html>